@page "/"

<PageTitle>Home</PageTitle>

<h1>Home</h1>

<p class="text-center">
    <img title="FormLab Logo" src="/formlab-logo.png" width="257" height="300" class="img-fluid" />
</p>

<p class="text-center">Create and send your own customer forms</p>

<p class="text-center">
    <a class="btn btn-primary" href="/forms/add" title="Create New Form">Create New Form</a>
</p>