@page "/definitions/forms/add"
@using LiteBulb.FormLab.Web.Blazor.ConfigSections
@using Microsoft.Extensions.Options
@inject HttpClient Http
@inject IOptions<ApiSettings> Settings

<PageTitle>Add Form</PageTitle>

<h3>Add Form</h3>


@code {

}
