@page "/submissions"
@using LiteBulb.FormLab.Web.Blazor.ConfigSections
@using Microsoft.Extensions.Options
@inject HttpClient Http
@inject IOptions<ApiSettings> Settings

<PageTitle>Forms</PageTitle>

<h3>Forms</h3>

<p>A list of all forms in the system</p>

@code {

}
